<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<meta charset="UTF-8">
	<title>HoundHustler</title>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <a href="/homepage"><img alt="Brand" src="/barking_dog_icon_BKA.jpg" width="50" height="50">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/dogs/index">The Hounds</a></li>
        <li><a href="/users/index">The Humans</a></li>
        <li><a href="/dogSignup">ADD A HOUND</a></li>
        <li><a href="#">MY HOUNDLIST</a></li>
        <li class="dropdown">
          <ul class="dropdown-menu" role="menu">
            <li><a href="dogs/index">Hounds</a></li>
            <li><a href="users/index">Humans</a></li>
            <li><a href="/dogSignup">ADD A HOUND</a></li>
            <li class="divider"></li>
            <li><a href="/index">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">MY HOUNDLIST</a></li>
            <li><a href="/dogs/index">Hounds</a></li>
            <li><a href="/users/index">Humans</a></li>
            <li><a href="/dogSignup">ADD A HOUND</a></li>
            <li class="divider"></li>
            <li><a href="/index">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
	<div class="container-fluid">