  <% include partials/header  %>
  <h1>Welcome to dog lover signup, <%= user.name %>.</h1> 
  <h3>About you</h3>
  <form role="form" method="post" action="/users">
  <div class="form-group">
    <label for="breed">Favorite breed</label>
    <input type="text" class="form-control" name="user[favoriteBreed]" id="breed" placeholder="e.g.Poodle" autofocus>
  </div>
  <div class="form-group">
    <label for="about">About</label>
    <input type="text" class="form-control" name="user[about]"id="about" placeholder="e.g. Keen dog walker, previous dog owner, experienced dog sitter with garden.">
  </div>
  <div class="form-group">
    <label for="contactNumber">Contact number</label>
    <input type="integer" class="form-control" name="user[contactNumber]"id="contactNumber" placeholder="Your contact number">
  </div>
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" name="user[contactEmail]"id="exampleInputEmail1" placeholder="Your email">
  </div>
    <div class="form-group">
    <label for="streetAddress">Street address</label>
    <input type="text" class="form-control" name="user[streetAddress]" id="streetAddress" placeholder="e.g. 435 China Basin Street">
  </div>
    <div class="form-group">
    <label for="zipcode">ZIP code</label>
    <input type="integer" class="form-control" name="user[zipCode]" id="zipcode" placeholder="e.g.94158">
  </div>
  <input type="hidden" name="user[ownerOrLover]" value="false">
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
  <br>
  <a href="/logout">Logout</a>
  <br>

<% include partials/footer  %>