body{
	font-family: avenir;
	background-color: #f37159;
	color: white;
}
.container-fluid{
	padding: 20px;
}
#footer{
	padding: 50px;
	margin: 50px;
	margin:auto;
}
.navbar-brand{
	float:center;
}
#footer{
	margin:auto;
	text-align: center;
	font-family: remponk;
	color: #CACADC;
	text-shadow: 2px 2px #ff0000;
	font-size: 20px;
}
li{
	font-family: avenir;
	color:#505058;
}
.panel-title{
	font-family: remponk;
	color:#505058;
}
h1{
	font-family: remponk;
	font-size: 60px;
	color: #33CCFF;
	color: #428bca;
	text-shadow: 2px 2px #ff0000;

}
.bold{
	font-weight: bold;
}
a{
	font-family: remponk;
	font-size: 20px;
	color: #33CCFF;
	color: #428bca;
	text-shadow: 2px 2px #ff0000;
}
.dropdown-menu>li>a{
	font-family: remponk;
	font-size: 16px;
	color: #505058;
	text-shadow: 0px 0px #ff0000;
}
.profilepic{
	border-radius: 100px;
	height:100px;
	border-color: #33CCFF;
	outline-color: #33CCFF;
}