<% include ../partials/header  %>
    
    <h1>THE HUMANS</h1>
      <% users.forEach(function (user) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h5 class="panel-title"><%= user.name %></h5>
          </div>
          <div class="panel-body">
              <h5><%= user.about %></h5>
              <h2><a href="/users/show/<%=user.id%>">See full profile</a></h2>

          </div>
        </div>
      <% }) %>
<% include ../partials/footer  %>